*.a
*.bundle
*.dep
*.dll
*.dylib
*.exe
*.framework
*.library
*.map
*.o
*.orig
*.sl
*.so
*.so.*
*~
.deps
/ObjSQLite3.oc
/aclocal.m4
/autom4te.cache
/buildsys.mk
/config.h
/config.h.in
/config.log
/config.status
/configure
/docs
/extra.mk
/tests/tests
/tests/tests.db
